body {
	margin:0;
}
#navbar{
	z-index: 3;
}
.navul{
	list-style-type: none;
	overflow: hidden;
	background-color: gray;
	height: 120px;
	padding: 5px;
	margin-top: 0px;
}
.nava{
	text-decoration: none;
	padding: 20px;
	display: block;
	text-align: center;
	color: white;
	border-radius: 10px;
	margin-top: 30px;
	font-size: 20px;
}
.navbar a:hover{
	background-color: blue;
}
.navbar li{
	float: left;
}
#logo{
	height: 90px;
	margin-left: 10px;
	text-decoration: none;
	padding: 15px;
	display: block;
}

#background{
	margin-top: -20px;
   background-image: url("https://i.imgur.com/NFhbVHs.jpeg");
   height:830px;
   background-size: cover;
   background-repeat: no-repeat;
   filter: blur(4px) brightness(30%);
  -webkit-filter: blur(4px) brightness(30%);
}
#headerh1{
  color: white;
  font-weight: bold;	
  font-size: 46px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

#headerscroll{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  text-shadow: red 2px 0 5px;
}
#headera{
	color: white;
    font-weight: bold;	
    font-size: 30px;
}

.main{
}
#headera{
	scroll-behavior: smooth;
}